.navbar-style {
    background-color: white;
}

.login-btn {
    border-radius: 0px;
    width: 115px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    border-radius: 2px;
    color: white;
    background-color: #ff2a38;
}

.lang-btn {
    border-radius: 0px;
    width: 40px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    background-color: white;
    color: #ff2a38;
    border-radius: 2px;
    border: 1px solid #ff2a38;
}

.lgin-icon {
    font-size: 16px;
}

.nav-items {
    width: 100%;
}

nav .navbar-nav li a {
    color: #ff2a38;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: #ff2a38;
    font-weight: 600;
}
