.section-style {
    width: 80%;
}

.hr-line-blue {
    width: 100px;
    height: 5px;
    border-width: 0;
    background-color: #2afff1;
}

.header-text {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    color: #333333;
}

.prog-filter {
    padding: 5px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(51, 51, 51, 0.52);
    border-bottom: 2px solid;
    border-color: rgba(51, 51, 51, 0.52);
    cursor: pointer;
}

.active-filter {
    font-weight: 600;
    border-bottom: 2.5px solid;
    color: #ff2a38 !important;
    border-color: #ff2a38 !important;
}

#dropdownProgFilter {
    display: none;
}

.card-filter {
    display: none;
}

.card-h5 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff2a38;
}

.star-rating {
    color: #fdcc0d;
}

.review-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(187, 187, 187, 1);
}

.rating-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(51, 51, 51, 1);
}

.card-col-title {
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: rgba(51, 51, 51, 1);
}

.card-col-val {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    color: #ff2a38;
}

.enroll-btn {
    background-color: #ff2a38;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    width: 90%;
    height: 40px;
    border-radius: 2px;
}

.next-btn {
    background: white;
    border: 1px solid #ff2a38;
    color: #ff2a38 !important;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
}

.show {
    display: block;
}

.fc .fc-button-primary {
    background-color: #ff2a38;
    border-color: #ff2a38;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    background-color: #d52531;
    border-color: #d52531;
}

:root {
    --fc-button-hover-bg-color: #d52531;
}

a {
    color: #333333;
}

.grid-background {
    background-image: url("/assets/images/websiteImg/grid-background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.q-sm-text {
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    width: 60%;
    margin: auto;
}

@media (max-width: 768px) {
    #progFilter .prog-filter {
        display: none;
    }

    #dropdownProgFilter {
        display: block;
    }

    .overlay-img {
        max-width: 100%;
    }

    .border-end-count {
        border-right: 0px solid rgba(221, 221, 221, 1);
    }
}

@media only screen and (max-width: 590px) {
    .fc .fc-button {
        font-size: 0.75em;
    }

    .fc .fc-toolbar-title {
        font-size: 1em;
    }
}

@media only screen and (max-width: 359px) {
    .section-style {
        width: 100%;
    }

    .q-sm-text {
        width: 100%;
    }

    .overlay-btn,
    .send-btn {
        height: 40%;
        width: 80%;
    }
}

/* Screens between 360px and 575px */
@media only screen and (max-width: 575px) and (min-width: 360px) {
    .section-style {
        width: 100%;
    }

    .q-sm-text {
        width: 100%;
    }

    .overlay-btn,
    .send-btn {
        height: 40%;
        width: 80%;
    }
}

/* Screens between 576px and 899px */
@media only screen and (max-width: 899px) and (min-width: 576px) {
    .section-style {
        width: 100%;
    }

    .q-sm-text {
        width: 100%;
    }

    .overlay-btn,
    .send-btn {
        height: 50%;
        width: 80%;
    }
}

/* Screens between 900px and 1249px */
@media only screen and (max-width: 1249px) and (min-width: 900px) {
    .section-style {
        width: 100%;
    }

    .q-sm-text {
        width: 100%;
    }
}

/* Screens between 1250px and 1649px */
@media only screen and (max-width: 1649px) and (min-width: 1250px) {
}

/* Screens wider than 1650px */
@media only screen and (min-width: 1650px) {
}
