.bc-nav {
    background: rgba(255, 42, 56, 1);
    padding: 10px;
    height: 7vh;
}

.breadcrumb-item a {
    color: white;
}

.breadcrumb-item.active {
    color: white;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: white;
}

.breadcrumb {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

#explore {
    background-color: #5c6bc0;
    width: 80px;
    height: 8px;
    margin: auto;
    display: block;
    margin-top: 10px;
}

.text {
    text-align: center;
}

.section-style {
    width: 80%;
}

.hr-line {
    width: 70px;
    height: 5px;
    border-width: 0;
    background-color: #ff2a38;
}

.header-text {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    color: #333333;
}

.sm-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-align: justify;
    color: #333333;
}

.rounded-border-left {
    border: 2px solid rgba(226, 226, 226, 1);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 0px;
}

.rounded-border-right {
    border: 2px solid rgba(226, 226, 226, 1);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 0px;
}

.border-center {
    border: 2px solid rgba(226, 226, 226, 1);
}

.contact-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 20px;
}

.blue-bg-w {
    background: rgba(42, 255, 241, 1);
    color: #ff2a38;
}

.red-bg-w {
    color: white;
    background: #ff2a38;
}

.contact-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 51, 51, 1);
}

.contact-val {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 51, 51, 1);
}

.contact-div {
    width: 75%;
}

.q-div {
    border-radius: 13px;
    background-image: url("/assets/images/websiteImg/q-img.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.q-title {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
}

.q-sm-text {
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    width: 60%;
    margin: auto;
}

.q-btn:hover {
    background: #ff2a38;
    border: 1px solid #ff2a38;
    color: rgba(255, 255, 255, 1);
    border: 1px solid white;
    border-radius: 2px;
}

.send-btn:hover {
    background: #be1d28;
    border: 1px solid #ff2a38;
    color: rgba(255, 255, 255, 1);
    border: 1px solid white;
    border-radius: 2px;
}

.q-btn {
    height: 70px;
    width: 260px;
    color: #ff2a38;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    border: 1px solid white;
    border-radius: 2px;
}

.send-btn {
    height: 70px;
    width: 260px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    background: #ff2a38;
    border: 1px solid  #ff2a38;
    border-radius: 2px;
}

.contact-form-div {
    background: #f7f7f8;
    width: 85%;
}

.contact-form-div-white {
    width: 70%;
    padding: 30px;
}

.form-check-input:checked {
    background-color: #ff2a38;
    border-color: #ff2a38;
}

.label-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.red-link {
    color: #ff2a38;
}

/* Screens narrower than 360px */
@media only screen and (max-width: 359px) {
    .section-style {
        width: 100%;
    }
    .contact-div {
        width: 100%;
    }

    .contact-icon {
        width: 40px;
        height: 40px;
    }

    .contact-text {
        font-size: 16px;
    }

    .contact-val {
        font-size: 16px;
    }

    .rounded-border-left {
        border: 2px solid rgba(226, 226, 226, 1);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .rounded-border-right {
        border: 2px solid rgba(226, 226, 226, 1);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .q-sm-text {
        width: 100%;
    }

    .q-btn,
    .overlay-btn, .send-btn {
        height: 40%;
        width: 80%;
    }

    .q-title {
        font-size: 16px;
    }

    .contact-form-div {
        width: 100%;
    }

    .contact-form-div-white {
        width: 100%;
        padding: 15px;
    }
}

/* Screens between 360px and 575px */
@media only screen and (max-width: 575px) and (min-width: 360px) {
    .section-style {
        width: 100%;
    }
    .contact-div {
        width: 100%;
    }

    .contact-icon {
        width: 60px;
        height: 60px;
    }

    .contact-text {
        font-size: 16px;
    }

    .contact-val {
        font-size: 16px;
    }

    .rounded-border-left {
        border: 2px solid rgba(226, 226, 226, 1);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .rounded-border-right {
        border: 2px solid rgba(226, 226, 226, 1);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .q-sm-text {
        width: 100%;
    }

    .q-btn,
    .overlay-btn, .send-btn {
        height: 40%;
        width: 80%;
    }

    .q-title {
        font-size: 25px;
    }

    .contact-form-div {
        width: 100%;
    }

    .contact-form-div-white {
        width: 100%;
        padding: 15px;
    }
}

/* Screens between 576px and 899px */
@media only screen and (max-width: 899px) and (min-width: 576px) {
    .section-style {
        width: 100%;
    }

    .contact-div {
        width: 100%;
    }

    .contact-icon {
        width: 42px;
        height: 42px;
    }

    .contact-text {
        font-size: 12px;
    }

    .contact-val {
        font-size: 12px;
    }

    .q-sm-text {
        width: 100%;
    }

    .q-btn,
    .overlay-btn, .send-btn {
        height: 50%;
        width: 80%;
    }

    .contact-form-div {
        width: 100%;
    }

    .contact-form-div-white {
        width: 100%;
        padding: 15px;
    }
}

/* Screens between 900px and 1249px */
@media only screen and (max-width: 1249px) and (min-width: 900px) {
    .section-style {
        width: 100%;
    }

    .contact-div {
        width: 100%;
    }

    .contact-icon {
        width: 42px;
        height: 42px;
    }

    .contact-text {
        font-size: 12px;
    }

    .contact-val {
        font-size: 12px;
    }

    .q-sm-text {
        width: 100%;
    }

    .contact-form-div {
        width: 100%;
    }

    .contact-form-div-white {
        width: 100%;
        padding: 15px;
    }
}

/* Screens between 1250px and 1649px */
@media only screen and (max-width: 1649px) and (min-width: 1250px) {
}

/* Screens wider than 1650px */
@media only screen and (min-width: 1650px) {
}
