.navbar-style {
    background-color: #ff2a38;
}

.login-btn {
    border-radius: 0px;
    width: 115px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #ff2a38;
    border-radius: 2px;
}

.lang-btn {
    border-radius: 0px;
    width: 40px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    background-color: #ff2a38;
    color: white;
    border-radius: 2px;
}

.lgin-icon {
    font-size: 16px;
}

.discover-btn {
    background-color: #ff2a38;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    width: 230px;
    height: 60px;
    border-radius: 2px;
}

.nav-items {
    width: 100%;
}

nav .navbar-nav li a {
    color: white !important;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.hero-text {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.red-span {
    color: #ff2a38;
}

.grid-background {
    background-image: url("/assets/images/websiteImg/grid-background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.partner-text {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.hr-line {
    width: 70px;
    height: 5px;
    border-width: 0;
    background-color: #ff2a38;
}

.card-title-css {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.feat-icon-white-red {
    background: #ff2a38;
    height: 100%;
    width: 100%;
    font-size: 30px;
    color: white;
}

.feat-icon-red-blue {
    background: #2afff1;
    height: 100%;
    width: 100%;
    font-size: 30px;
    color: #ff2a38;
}

.section-style {
    width: 80%;
}

.bg-image {
    height: auto;
}

.image,
.wwd {
    min-height: 100%;
}

.text-div {
    /* background: #2afff1; */
}

.header-text {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.sm-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-align: justified;
    text-align: left;
    color: #333333;
}

/* Screens narrower than 360px */
@media only screen and (max-width: 359px) {
    .section-style {
        width: 100%;
    }
}

/* Screens between 360px and 575px */
@media only screen and (max-width: 575px) and (min-width: 360px) {
    .section-style {
        width: 100%;
    }
}

/* Screens between 576px and 899px */
@media only screen and (max-width: 899px) and (min-width: 576px) {
    .section-style {
        width: 100%;
    }

    .card-title-css {
        font-size: 12px;
    }

    .feat-icon-white-red {
        font-size: 20px;
    }

    .feat-icon-red-blue {
        font-size: 20px;
    }
}

/* Screens between 900px and 1249px */
@media only screen and (max-width: 1249px) and (min-width: 900px) {
    .section-style {
        width: 100%;
    }

    .card-title-css {
        font-size: 12px;
    }

    .feat-icon-white-red {
        font-size: 20px;
    }

    .feat-icon-red-blue {
        font-size: 20px;
    }
}

/* Screens between 1250px and 1649px */
@media only screen and (max-width: 1649px) and (min-width: 1250px) {
}

/* Screens wider than 1650px */
@media only screen and (min-width: 1650px) {
}
