.navbar-style {
    background-color: #ff2a38;
}

.login-btn {
    border-radius: 0px;
    width: 115px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #ff2a38;
    border-radius: 2px;
}

.lang-btn {
    border-radius: 0px;
    width: 40px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    background-color: #ff2a38;
    color: white;
    border-radius: 2px;
}

.lgin-icon {
    font-size: 16px;
}

.discover-btn {
    background-color: #ff2a38;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    width: 230px;
    height: 60px;
    border-radius: 2px;
}

.nav-items {
    width: 100%;
}

nav .navbar-nav li a {
    color: white !important;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.hero-text {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.red-span {
    color: #ff2a38;
}

.grid-background {
    background-image: url("/assets/images/websiteImg/grid-background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
