.navbar-style {
    background-color: #ff2a38;
}

.login-btn {
    border-radius: 0px;
    width: 115px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #ff2a38;
    border-radius: 2px;
}

.lang-btn {
    border-radius: 0px;
    width: 40px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    background-color: #ff2a38;
    color: white;
    border-radius: 2px;
}

.lgin-icon {
    font-size: 16px;
}

.discover-btn {
    background-color: #ff2a38;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    width: 230px;
    height: 60px;
    border-radius: 2px;
}

.nav-items {
    width: 100%;
}

nav .navbar-nav li a {
    color: white !important;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.hero-text {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.red-span {
    color: #ff2a38;
}

.grid-background {
    background-image: url("/assets/images/websiteImg/grid-background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.partner-text {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.hr-line {
    width: 70px;
    height: 5px;
    border-width: 0;
    background-color: #ff2a38;
}

.hr-line-blue {
    width: 100px;
    height: 5px;
    border-width: 0;
    background-color: #2afff1;
}

.card-title-css {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.feat-icon-white-red {
    background: #ff2a38;
    height: 100%;
    width: 100%;
    font-size: 30px;
    color: white;
}

.feat-icon-red-blue {
    background: #2afff1;
    height: 100%;
    width: 100%;
    font-size: 30px;
    color: #ff2a38;
}

.section-style {
    width: 80%;
}

.bg-image {
    height: auto;
}

.image,
.wwd {
    min-height: 100%;
}

.text-div {
    /* background: #2afff1; */
}

.header-text {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    color: #333333;
}

.sm-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-align: left;
    text-align: justify;
    color: #333333;
}

.next-btn {
    background: white;
    border: 1px solid #ff2a38;
    color: #ff2a38 !important;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.prog-filter {
    padding: 5px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(51, 51, 51, 0.52);
    border-bottom: 2px solid;
    border-color: rgba(51, 51, 51, 0.52);
    cursor: pointer;
}

.active-filter {
    font-weight: 600;
    border-bottom: 2.5px solid;
    color: #ff2a38 !important;
    border-color: #ff2a38 !important;
}

#dropdownProgFilter {
    display: none;
}

.dropdown-center a {
    display: block;
    padding: 0.5rem 1rem;
    color: #ff2a38;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
    background-color: white;
    border-color: #ff2a38;
}

.dropdown-menu {
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
    width: 100%;
}

.card-h5 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #ff2a38;
}

.star-rating {
    color: #fdcc0d;
}

.review-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(187, 187, 187, 1);
}

.rating-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(51, 51, 51, 1);
}

.card-col-title {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: rgba(51, 51, 51, 1);
}

.card-col-val {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    color: #ff2a38;
}

.enroll-btn {
    background-color: #ff2a38;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    width: 90%;
    height: 40px;
    border-radius: 2px;
}

.card-filter {
    display: none;
}

.show {
    display: block;
}

.who-text {
    width: 75%;
}

.overlay-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-h {
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
}

.overlay-btn {
    height: 70px;
    width: 260px;
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    background: transparent;
    border: 1px solid white;
}

.overlay-btn:hover {
    background: #ff2a38;
    border: 1px solid #ff2a38;
}

.overlay-img {
    max-width: 450px;
}

@media (max-width: 768px) {
    #progFilter .prog-filter {
        display: none;
    }

    #dropdownProgFilter {
        display: block;
    }

    .overlay-img {
        max-width: 100%;
    }
}

/* Screens narrower than 360px */
@media only screen and (max-width: 359px) {
    .section-style {
        width: 100%;
    }

    .who-text {
        width: 100%;
    }

    .overlay-btn {
        height: 40%;
        width: 80%;
    }

    .overlay-h {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: center;
    }

    .overlay-img {
        max-width: 100%;
    }
}

/* Screens between 360px and 575px */
@media only screen and (max-width: 575px) and (min-width: 360px) {
    .section-style {
        width: 100%;
    }

    .who-text {
        width: 100%;
    }

    .overlay-btn {
        height: 40%;
        width: 80%;
    }

    .overlay-h {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: center;
    }

    .overlay-img {
        max-width: 100%;
    }
}

/* Screens between 576px and 899px */
@media only screen and (max-width: 899px) and (min-width: 576px) {
    .section-style {
        width: 100%;
    }

    .card-title-css {
        font-size: 12px;
    }

    .feat-icon-white-red {
        font-size: 20px;
    }

    .feat-icon-red-blue {
        font-size: 20px;
    }

    .who-text {
        width: 90%;
    }

    .overlay-btn {
        height: 50%;
        width: 80%;
    }

    .overlay-h {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: center;
    }

    .overlay-img {
        max-width: 100%;
    }
}

/* Screens between 900px and 1249px */
@media only screen and (max-width: 1249px) and (min-width: 900px) {
    .section-style {
        width: 100%;
    }

    .card-title-css {
        font-size: 12px;
    }

    .feat-icon-white-red {
        font-size: 20px;
    }

    .feat-icon-red-blue {
        font-size: 20px;
    }
}

/* Screens between 1250px and 1649px */
@media only screen and (max-width: 1649px) and (min-width: 1250px) {
}

/* Screens wider than 1650px */
@media only screen and (min-width: 1650px) {
}
