.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url("../../images/websiteImg/login-img.png");
    background-size: cover;
    background-position: center center;
}

.center-vector {
    max-width: 160px;
    width: 160px;
}

.hr-line {
    width: 70px;
    height: 5px;
    border-width: 0;
    background-color: #ff2a38;
}

.header-text {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    color: #333333;
}

.sm-text {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.form-div {
    width: 85%;
    margin: auto;
}

.text-half {
    margin-top: 10%;
}

.white-form-div {
    height: 60vh;
    background-color: white;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
}

.label-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.btn-style {
    width: 85%;
    height: 60px;
    background: #ff2a38;
    border: 0px;
    border-radius: 2px;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}

.sm-text-rights {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #333333;
}

.otp-div {
    margin: 0 auto;
    width: 200px;
}

.otp-input {
    font-family: "Poppins", sans-serif;
    font-size: 80px;
    letter-spacing: 0.5em;
    font-weight: 600;
    color: #333333;
}

/* ------------------------------------------
 Responsive Grid Media Queries - 1280, 1024, 768, 480
  1280-1024   - desktop (default grid)
  1024-768    - tablet landscape
  768-480     - tablet 
  480-less    - phone landscape & smaller
-------------------------------------------- */

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .form-div {
        width: 85%;
        margin: auto;
    }

    .white-form-div {
        width: 100%;
        padding: 15px 5px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .form-div {
        width: 100%;
        margin: 0px;
    }

    .white-form-div {
        width: 100%;
        padding: 15px 5px;
    }
}

@media all and (max-width: 480px) {
    .form-div {
        width: 100%;
        margin: 0px;
    }

    .white-form-div {
        width: 100%;
        padding: 15px 5px;
    }
}
